html {
  background: linear-gradient(rgba(0,0,0,.35), rgba(0,0,0,.35)), url('images/bg.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

body {
  width: 100%;
  height: 100%;
  margin-bottom: 10%;
}
table {
  border-spacing: 7px 0px;
border-collapse: separate;
vertical-align: top;
}



.mainPage {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

/*img {
  max-width: 100%;
}*/

.header {
  display: inline-block;
  width: 100%;
}

.header h3 {
  position: relative;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  top: 100%;
  transform: translateY(25%);
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1em;
}

ul, li {
  position: relative;
  /*width: 30%;*/
  float: left;
  list-style-type: none;
}

li {
  -webkit-box-shadow: 0px 10px 7px -4px rgba(68,68,68,0.75);
  -moz-box-shadow: 0px 10px 7px -4px rgba(68,68,68,0.75);
  box-shadow: 0px 10px 7px -4px rgba(68,68,68,0.75);
}

ul {
    display: inline-flex;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 340px;
}


.btn-success {
  color: #D60700;
}

.btn {
  display: inline-flex;
}
*/
--------------------------/*---This is the navbar styling*/---------------------
#navigation {
  display:inline-block;
}
.navbar{
  position: relative;
  width: 100%;
  display: inline-block;
}
.navbar div {
    width: 100%;
  }
.navbar ul {
      text-align: center;
      width: 100%;
      display: inline-block;
      padding: 0px;
      margin: 0px;
    }
.navbar li {
        display: inline-block;
        width: 22%;
        padding: .75%;
        margin: .75%;
        background-color: rgba(212, 0, 0, 0.70);
        text-align: center;
        color: white;
        font-size: .5em;
        position: relative;
        top: 0px;
        height: auto;
      }
.navbar li:hover {
     background-color: rgba(224, 203, 82, 0.70);
     color: rgb(0,0,0);
     font-weight: bold;
   }
---------------------------/* - This is the top image styling - */--------------
.container {
max-width: 100%;

}


.slideshow {
  background-image: url('images/top-image.png');
  background-repeat: no-repeat;
  background-size: 135%;
  width: 97%;
  height: 16rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
  background-position: -55px -115px;
  border-color: #fff;
  bottom: 10%;
  border: solid 6px;
  opacity: 1;
}

.overlay {
  width:100%;
  height: 16rem;
  background-image: url('images/grid.png');
  background-size: cover;
  opacity: .8;
}

#logo {
  width:39%;
  display: block;
  padding-top: 4%;
  opacity: 1;
  }

  #slideNav {
    display:inline-block;
    width: 53%;
    margin-left: -28%;
  }
  .slideshowBtn{
    position: relative;
    width: 100%;
    display: inline-block;
  }
  .slideLocation div {
      width: 100%;
    }
  .slideLocation ul {
      display: inline-block;
      width: 9%;
      }

  .slideLocation li {
          display: inline-block;
          width: 22%;
          margin: .75%;
          background-color: rgba(212, 0, 0, 0.70);
          text-align: center;
          color: white;
          font-size: .5em;
          position: relative;
          top: 0px;
          height: auto;
        }
  .slideLocation li:hover {
       background-color: rgba(224, 203, 82, 0.70);
       color: rgb(0,0,0);
       font-weight: bold;
     }

/*------article styling -------*/
#maintable {
  width: 100%;

}

tbody {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

tr {
  display: inline-block;
}

.one {
  width: 28%;
  background-color: #000;
  vertical-align: top;
  padding: 20px;
}
.two {
  width: 28%;
  background-color: #000;
  vertical-align: top;
  padding: 20px;
}
.three {
  width: 28%;
  background-color: #000;
  vertical-align: top;
  padding: 20px;
}

.bio-blocks {
  display: inline-block;
  margin-top: 3vmax;
  width: 100%;
  height: 300px;
}

.skaters {
  width: 100%;
  height: 100%;
}

.lance-rodney {
  height: 49%;
  display: inline-block;
}

.lance-rodney-steve {
  display: inline-block;
  width: 66%;
  height: 100%;
  float: left;


}

.lance {
  background: url(images/sk8er-4.png) no-repeat;
  background-size: cover;
  width: 48.5%;
  border: 3px solid white;
  display: flex;
  height:100%;
  float: left;
  align-items: center;
  justify-content: center;
}

.lance-background {
  background-size: cover;
}

.lance-background p:hover {
  opacity: .1;
  align-items: center;
  justify-content: center;
}

.lance p {
font-size: 2.6vmax;
font-weight: bolder;
color: white;
}

.rodney {
  background: url(images/sk8er-3.png);
  background-size: cover;
  width: 48.5%;
  height: 100%;
  border: 3px solid white;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rodney-background p:hover {
  opacity: .1;
}

.rodney p {
  text-align: center;
  vertical-align: middle;
  font-size: 2.6vmax;
  font-weight: bolder;
  color: white;
}

.steve {
  background: url(images/sk8er-1.png);
  background-size: cover;
  width: 100%;
  height: 49%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid white;
}

.steve-background p:hover {
  opacity: .1;
}

.steve p {
  text-align:center;
  font-size: 2.5vmax;
  font-weight: bolder;
  color: white;
  border-top: .5%;
}

.tommy {
  background: url(images/sk8er-2.png) no-repeat;
  background-size: cover;
  background-position: 80%;
  width: 32%;
  height: 100%;
  border: 3px solid white;
  float: right;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tommy-background p:hover {
  opacity: .1;
}


.tommy p {
  text-align: center;
  font-size: 2.6vmax;
  font-weight: bolder;
  color: white;
  height: 100%;
}

.skate-boards {
  background-color: white;
  display: inline-block;
  width:100%;
  height: 100%;
  overflow: hidden;
  margin-top: 7%;

}

.skate-boards img {
  margin: 1%;
  display: inline-block;

}



.photo-banner {
  height: 233px;
  width: 100%;
  margin-bottom: 80px;

}

.first-board {
    -webkit-animation: bannermove 10s linear infinite;
       -moz-animation: bannermove 10s linear infinite;
        -ms-animation: bannermove 10s linear infinite;
         -o-animation: bannermove 10s linear infinite;
            animation: bannermove 10s linear infinite;
}
