/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}*/

html {
  background: linear-gradient(rgba(0,0,0,.35), rgba(0,0,0,.35)), url('images/bg.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

body {
  width: 100%;
  height: 100%;
  margin-bottom: 10%;
}
table {
  border-spacing: 4px 0px;
border-collapse: separate;
vertical-align: top;
}

.mainPage {
  width: 60%;
  margin: auto;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

/*img {
  max-width: 100%;
}*/

.header {
    width: 100%;
}

.header h4 {
	display: inline-block;
  position: relative;
	float: right;
	margin-top: 4%;
	top: 100%;
	transform: translateX(-350px);

}

ul, li {
	display: inline-block;
  list-style-type: none;
	position: relative;
	float: left;
}

/*li{
  -webkit-box-shadow: 0px 10px 7px -4px rgba(170,170,170,0.88);
  -moz-box-shadow: 0px 10px 7px -4px rgba(170,170,170,0.88);
  box-shadow: 0px 10px 7px -4px rgba(170,170,170,0.88);
}*/

.header .fa-circle{
	margin-left: 10px;
  font-size: 5px;
  vertical-align: middle;
}

.fa-ellipsis-v{
  position: relative;
  top: 50%;
  transform: translatex(50%);
	transform: translateY(25%);
}

.header ul{
	transform: translate(24%, 1%);
  position: relative;
  display: inline-block;
  float: right;
}

.header li{
	transform: translateX(1%);
  margin-right: 5px;
  padding: 1px;
	-webkit-box-shadow: 0px 10px 7px -4px rgba(68,68,68,0.75);
	-moz-box-shadow: 0px 10px 7px -4px rgba(68,68,68,0.75);
	box-shadow: 0px 10px 7px -4px rgba(68,68,68,0.75);
}


/*.social {
  display: inline-block;
  widows: 23%;

}

.social li {
  display: inline-block;
  margin-left: 50%;
}

.header h3 {
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    top: 100%;
    transform: translateY(25%);
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1em;
}

  ul, li {
  display: inline-flex;
  justify-content: space-between;
  position: relative;
  /*width: 30%;*/
}

/*ul {

    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 340px;
}*/


.btn-success {
  color: #D60700;
}

.btn {
  display: inline-flex;
}

--------------------------/*---This is the navbar styling*/---------------------
#navigation {
  display:inline-block;
}
.navbar{
  position: relative;
  width: 100%;
  display: inline-block;
}
.navbar div {
    width: 100%;
  }
.navbar ul {
      text-align: center;
      justify-content: flex-start;
      width: 100%;
      /*display: inline-block;*/
      padding: 0px;
      margin: 0px;
    }
.navbar li {
        display: inline-block;
        width: 22%;
        padding: .75%;
        margin: .75%;
        background-color: rgba(212, 0, 0, 0.70);
        text-align: center;
        color: white;
        font-size: .5em;
        position: relative;
        top: 0px;
        height: auto;
        -webkit-box-shadow: 0px 10px 7px -4px rgba(68,68,68,0.75);
        -moz-box-shadow: 0px 10px 7px -4px rgba(68,68,68,0.75);
        box-shadow: 0px 10px 7px -4px rgba(68,68,68,0.75);
      }
.navbar li:hover {
     background-color: rgba(224, 203, 82, 0.70);
     color: rgb(0,0,0);
     font-weight: bold;
   }
---------------------------/* - This is the top image styling - */--------------
.container {
max-width: 100%;

}
.slideshow {
  background-image: url('images/top-image.png');
  background-repeat: no-repeat;
  background-size: 135%;
  width: 97%;
  height: 16rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
  background-position: -55px -115px;
  border-color: #fff;
  bottom: 10%;
  border: solid 6px;
  opacity: 1;
}

.overlay {
  width:100%;
  height: 16rem;
  background-image: url('images/grid.png');
  background-size: cover;
  opacity: .8;
}

#logo {
  width:39%;
  display: block;
  padding-top: 4%;
  opacity: 1;
  }

  .slideNav {
    display:inline-block;
    width: 53%;
    /*margin-top: 2%;
		margin-bottom: 2%;*/
    margin-left: 34%;
  }
  .slideshowBtn{
    position: relative;
    width: 100%;
    display: inline-block;
  }
  .slideLocation div {
      width: 100%;
    }
  .slideLocation ul {
      display: inline-block;
      width: 9%;
      }

  .slideLocation li {
          display: inline-block;
          width: 22%;
          margin: .75%;
          background-color: rgba(212, 0, 0, 0.70);
          text-align: center;
          color: white;
          font-size: .5em;
          position: relative;
          top: 0px;
          height: auto;
        }
  .slideLocation li:hover {
       background-color: rgba(224, 203, 82, 0.70);
       color: rgb(0,0,0);
       font-weight: bold;
     }

/*------article styling -------*/
.news {
  width: 100%;
}

.article {
	display: flex;
	justify-content: space-between;
	width: 98%;
	margin-left: 7px;
}


.article-one {
  width: 28%;
  background-color: #fff;
  vertical-align: top;
  padding: 20px;
}

.article-one h2 {
  margin-top: 2%;
  font-size: 20px;
  color: #000;
  text-align: left;
}

.article-one h4 {
	margin-top: 4%;
	margin-bottom: 4%;
  font-size: 10px;
  color: #B9B9B9;
  text-align: left;
}

.article-one p {
	margin-bottom: 14px;
  color: #000;
  text-align: left;
  font-size: .75em;
}

.article-one img {
  width: 28%;
  text-align: center;
}

.article-two {
  width: 28%;
  background-color: #fff;
  vertical-align: top;
  padding: 20px;
}
.article-two img {
  width: 28%;
  text-align: center;
}
.article-two h2 {
  margin-top: 2%;
  font-size: 20px;
  color: #000;
  text-align: left;
}

.article-two h4 {
	margin-top: 4%;
	margin-bottom: 4%;
  font-size: 10px;
  color: #B9B9B9;
  text-align: left;
}

.article-two p {
  color: #000;
  text-align: left;
  font-size: .75em;
}

.article-three {
  width: 28%;
  background-color: #fff;
  vertical-align: top;
  padding: 20px;
}
.article-three img {
  width: 28%;
  text-align: center;
}
.article-three h2 {
  margin-top: 2%;
  font-size: 20px;
  color: #000;
  text-align: left;
}

.article-three h4 {
	margin-top: 4%;
	margin-bottom: 4%;
  font-size: 10px;
  color: #B9B9B9;
  text-align: left;
}

.article-three p {
	margin-bottom: 14px;
  color: #000;
  text-align: left;
  font-size: .75em;
}

/*--------------Bio Section--------------*/

.bio-blocks {
  display: inline-block;
  margin-top: 16px;
  width: 97%;
  height: 350px;
}

.skaters {
  display: flex;
  width: 101.2%;
  height: 100%;
  margin-left: -6px;
  justify-content: space-between;
}

.lance-rodney {
  margin-bottom: 10px;
	width: 100%;
  height: 49%;
  display: inline-block;
}

.lance-rodney-steve {
  display: inline-block;
  width: 69%;
  height: 100%;
  float: left;


}

.lance {
  background: url(images/sk8er-4.png);
  background-size: 110%;
	background-repeat: no-repeat;
	background-position: 100%;
  width: 48.5%;
  border: 3px solid white;
  display: flex;
  height:100%;
  float: left;
  align-items: center;
  justify-content: center;
}

.lance-background {
  background-size: 103%;
}

.lance-background p:hover {
  opacity: .1;
  align-items: center;
  justify-content: center;
}

.lance p {
font-family: 'Rubik', sans-serif;
font-size: 2em;
font-weight: bolder;
color: white;
}

.rodney {
  background: url(images/sk8er-3.png);
  background-size: 110%;
	background-repeat: no-repeat;
  width: 48.5%;
  height: 100%;
  border: 3px solid white;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rodney-background p:hover {
  opacity: .1;
}

.rodney p {
  text-align: center;
  vertical-align: middle;
  font-family: 'Rubik', sans-serif;
	font-size: 2em;
  font-weight: bolder;
  color: white;
}

.steve {
  background: url(images/sk8er-1a.png);
	background-repeat: no-repeat;
  background-size: 100%;
	background-position: 100%;
  width: 99%;
  height: 46.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid white;
}

.steve-background p:hover {
  opacity: .1;
}

.steve p {
  text-align:center;
	font-family: 'Rubik', sans-serif;
  font-size: 2em;
  font-weight: bolder;
  color: white;
  border-top: .5%;
}

.tommy {
  background: url(images/sk8er-2.png) no-repeat;
  background-size: 256%;
	background-repeat: no-repeat;
  background-position: 76%;
  width: 29%;
  height: 99%;
  border: 3px solid white;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tommy-background p:hover {
  opacity: .1;
}


.tommy p {
  text-align: center;
	font-family: 'Rubik', sans-serif;
  font-size: 2em;
  font-weight: bolder;
  color: white;
  height: 100%;
}

.skateboards{
  display: inline-block;
  width: 97.80%;
  background-color: white;
  margin-top: 2%;
}

.skateboards img {
  width: 6%;
  margin: 1% 1% 1% 1.655%;
  vertical-align: middle;

}

.footer {
  display: inline-block;
	margin-top: 10px;
  width: 98%;
}

.flex-container {
	width: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
}

.flex-item {
  background: #fff;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  margin-right: 10px;

  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  justify-content: space-around;

}

.footer{
  width: 98%;
  background-color: white;
  text-align: left;
  margin-bottom: 100px;
  display: inline-block;
  -webkit-box-shadow: 0px 10px 7px -4px rgba(170,170,170,0.88);
  -moz-box-shadow: 0px 10px 7px -4px rgba(170,170,170,0.88);
  box-shadow: 0px 10px 7px -4px rgba(170,170,170,0.88);
}

.contact-usleft{
  width: 42%;
  color: #000;
  margin: 1% 1% 1% 3%;
  display: inline-block;
  float: left;
}

.contact-usleft h3{
  color: black;
  font-weight: normal;
}

.contact-usleft ul{
  float:none;
  color: black;
  padding: 0;
  display: inline-flex;
  margin-top: 0;
}

.contact-usleft li{
	color: #929090;
  margin: 5px;
  padding: 5px;
}

.contact-usright{
  width: 42%;
  color: #000;
  margin: 1% 1% 1% 11%;
  display: inline-block;
  float: left;
}

.field-one{
  border: solid 2px;
  border-color: grey;
  padding: 2%;
}

.field-two{
  border: solid 2px;
  border-color: grey;
  padding: 2%;
}

.entryMessage{
  border:solid 2px;
  border-color: grey;
  padding: 2% 2% 20% 2%;
}

.submitButton{
  background-color: #fff;
  font-weight: lighter;
  color: white;
  text-align: center;
  float: right;
  width: 33%;
  padding: 2% 5% 2% 5%;
}

.submitButton img {
	width:89%;
	margin-top: 1%;
	margin-bottom: 1%;
	text-align: center;
}

.submitButton:hover{
  background-color: white;
  color: #B4292E;
  font-weight: bold;
  border: solid 2px;
  border-color: #B4292E;
}







/*.aside-one {
	display: inline-block;
	width: 100%;
	background-color: #fff;
}

.contact-us {
	margin-left: 10px;
	text-align: left;
	width: 50%;
	background-color: #fff;
}

.contact-us img {
  width: 5%;
  text-align: center;
}
.contact-us h3 {
  margin-top: 2%;
  font-size: 1em;
  color: #000;
  text-align: left;
}

.contact-us p {
	margin-bottom: 14px;
  color: #000;
  text-align: left;
  font-size: 10px;
}

.aside-two {
	display: inline-block;
	width: 100%;
	background-color: #fff;

}

.form-entry {
	display: inline-block;
	width: 50%;
	margin-left: 50%;
	margin-top: 0%;
}
