body {

}

ul .sub_header .fa-ul {
list-style-type: none;
padding: 0;
margin: 0;
text-align: right;
}

li .sub_header .fa-ul {
background-image: url(arrow.gif);
background-repeat: no-repeat;
background-position: 100% .4em;
padding-right: .6em;
}
